@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

//Inicio de variables
$color1: #ffff00;
$color2: #090909;
$color3: #ffff56;
$color4: #ffff81;
$color5: #333233;

$letragrande: 150px;
$letramediana: 25px;
$letrachica: 18px;

$fuente1: 'Roboto', sans-serif;
$fuente2: 'Roboto Condensed', sans-serif;
//Fin de variables
*{
    margin: 0;
    padding: 0;
}

body{
    color: $color3;
    font-family: $fuente1;
    font-size: $letrachica;
    background-color: $color2;
    width: 100%;
    header{
        background-image: url(../animado/rayo.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 30%;
        background-position-x: center;
        #logo a{
            width: 100%;
            margin-left: 20px;
            color: $color1;
            font-size: $letragrande;
            text-decoration: none;
        }
        .navbar-toggler-icon{
            background-color: $color1;
            border-radius: 5px;
        }
        #opciones{
            width: 100%;
            ul{
                display: flex;
                li{
                    list-style: none;
                    :hover{
                        transform: scale(1.2);
                        border-radius: 15px;
                        background-color: $color5;
                        color: $color1;
                        transition: 2s;
                    }
                    a{
                        color: $color4;
                        font-size: $letrachica;
                        font-weight: bold;
                        text-decoration: none;
                        margin-left: 10px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    main{
        background: linear-gradient(180deg, rgba(51,50,51,1) 0%, rgba(9,9,9,1) 100%);
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        h2{
            color: $color1;
            font-size: $letramediana;
            font-family: $fuente2;
        }
        p{
            margin: 10px;
            text-align: center;
            color: $color1;
            text-shadow: -0.5px -0.5px 0.5px #090909, 0.5px 0.5px 0.5px #090909, -0.5px 0.5px 0.5px #090909, 0.5px -0.5px 0.5px #090909;
        }
        .container-fluid div{
            margin: 1.6em auto;
            width: 300px;
            img{
                width: 100%;
            }
        }
        .empresa div{
            width: 90%;
            margin: auto;
            text-align: left;
            margin-bottom: 2rem;
            p{
                text-align: left;
            }
            ul{
                list-style: none;
                margin-left: 1rem;
            }
            span{
                float: right;
                text-align: center;
            }
            .accidente span{
                width: 500px;
                max-width: 100%;
            } 
        }
        .servicios div{
            width: 90%;
            margin: auto;
            .indicador{
                display: inline-block;
            }
            ul{
                list-style: none;
            }
        }
        .parrafo{
            text-align: center;
        }
    }
    .fab{
        font-size: 3em; 
        color: $color1;
    }
}























