@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

//Inicio de variables
$color1: #ffff00;
$color2: #090909;
$color3: #ffff56;
$color4: #ffff81;
$color5: #333233;

$letragrande: 150px;
$letramediana: 25px;
$letrachica: 18px;

$fuente1: 'Roboto', sans-serif;
$fuente2: 'Roboto Condensed', sans-serif;
//Fin de variables
//Inicio map-get
$estilo1: (
    clr: $color3,
    bclr: $color2,
    ff: $fuente1,
    fs: $letrachica,
    w: 100%
);
//Fin map-get
*{
    margin: 0;
    padding: 0;
}

body{
    color: map-get($map: $estilo1, $key: clr);
    font-family: map-get($map: $estilo1, $key: ff);
    font-size:  map-get($map: $estilo1, $key: fs);
    background-color: map-get($map: $estilo1, $key: bclr);
    width:  map-get($map: $estilo1, $key: w);

    @mixin sizes($br, $bs, $bpy, $bpx) {
        background-repeat: $br;
        background-size: $bs;
        background-position-y: $bpy;
        background-position-x: $bpx;
    }
    header{
        background-image: url(../animado/rayo.gif);
        @include sizes(no-repeat, cover, 30%, center);
        
        #logo img{
            margin-left: 20px;
            color: $color1;
            max-height: 150px;
            text-decoration: none;
        }
        .navbar-toggler-icon{
            background-color: $color1;
            border-radius: 5px;
        }
        #opciones{
            width: 100%;
            ul{
                display: flex;
                li{
                    list-style: none;
                    :hover{
                        transform: scale(1.2);
                        border-radius: 15px;
                        background-color: $color5;
                        color: $color1;
                        transition: 2s;
                    }
                    a{
                        color: $color4;
                        font-size: $letrachica;
                        font-weight: bold;
                        text-decoration: none;
                        margin-left: 10px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    main{
        background: linear-gradient(180deg, rgba(51,50,51,1) 0%, rgba(9,9,9,1) 100%);
        .carousel, .carousel-inner img {
            text-align: center;
            max-height: 500px;
        }
        h2{
            color: $color1;
            font-size: $letramediana;
            font-family: $fuente2;
        }
        p{
            margin: 10px;
            text-align: center;
            color: $color1;
            text-shadow: -0.5px -0.5px 0.5px #090909, 0.5px 0.5px 0.5px #090909, -0.5px 0.5px 0.5px #090909, 0.5px -0.5px 0.5px #090909;
        }
        .container-fluid div{
            margin: 1.6em auto;
            width: 300px;
            img{
                width: 100%;
            }
        }
        .empresa div{
            width: 90%;
            margin: auto;
            text-align: left;
            margin-bottom: 2rem;
            p{
                text-align: left;
            }
            ul{
                list-style: none;
                margin-left: 1rem;
            }
            img{
                float: right;
                width: 400px;
                max-width: 100%;
            }
        }
        .far{
            font-size: 3em; 
        }
        .fas{
            font-size: 3em; 
        }
        .servicios div{
            width: 90%;
            margin: auto;
            .fas{
                font-size: 1em;
            }
            .indicador{
                display: inline-block;
            }
            ul{
                list-style: none;
            }
        }
        .parrafo{
            text-align: center;
        }
        .contacto{
            @extend .empresa;
        }
    }
    .fab{
        font-size: 3em; 
        color: $color1;
    }
}























