@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

//Inicio de variables
$color1: #ffff00;
$color2: #090909;
$color3: #ffff56;
$color4: #ffff81;
$color5: #333233;

$letragrande: 150px;
$letramediana: 25px;
$letrachica: 18px;

$fuente1: 'Roboto', sans-serif;
$fuente2: 'Roboto Condensed', sans-serif;
//Fin de variables
*{
    margin: 0;
    padding: 0;
}

body{
    color: $color3;
    font-family: $fuente1;
    font-size: $letrachica;
    background-color: $color2;
    width: 100%;
}
header{
    background-image: url(../animado/rayo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    background-position-x: center;
}

header nav #logo a{
    width: 100%;
    margin-left: 20px;
    color: $color1;
    font-size: $letragrande;
    text-decoration: none;
}
.navbar-toggler-icon{
    background-color: $color1;
    border-radius: 5px;
}
#opciones{
    width: 100%;
}
#opciones ul{
    display: flex;
}
#opciones ul li{
    list-style: none;
    transition: 2s;
}
#opciones ul li:hover{
    transform: scale(1.2);
}
#opciones ul li a{
    color: $color4;
    font-size: $letrachica;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}
#opciones ul li a:hover{
    border-radius: 15px;
    background-color: $color5;
    color: $color1;
}
main{
    background: linear-gradient(180deg, rgba(51,50,51,1) 0%, rgba(9,9,9,1) 100%);
}
body main .carousel-inner img {
    width: 100%;
    height: 100%;
}
main p{
    margin: 10px;
    text-align: center;
    color: $color1;
    text-shadow: -0.5px -0.5px 0.5px #090909, 0.5px 0.5px 0.5px #090909, -0.5px 0.5px 0.5px #090909, 0.5px -0.5px 0.5px #090909;
}
main .container-fluid div{
    margin: 1.6em auto;
    width: 300px;
}
main .container-fluid div img{
    width: 100%;
}
main h2{
    color: $color1;
    font-size: $letramediana;
    font-family: $fuente2;
}
main .empresa div{
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 2rem;
}
main .empresa div p{
    text-align: left;
}
main .servicios div{
    width: 90%;
    margin: auto;
}
main .servicios div ul{
    list-style: none;
}
main .parrafo{
    text-align: center;
}
main .contacto{
    text-align: center;
}
.fab{
    font-size: 3em; 
    color: $color1;
}
.indicador{
    display: inline-block;
}